#current__page {
    grid-column-start: 3;
    justify-self: flex-end;
    font-size: 30px;
}

#btn__prev__page, #btn__next__page {
    position: fixed;
    top: 50%;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
}

#btn__prev__page {
    left: 100px;
}

#btn__next__page {
    right: 100px;
}