.comment, .like, .retweet {
    width: 15%;
    fill: rgb(83, 100, 113);
    cursor: pointer;
}

.comment:hover, .comment__clicked {
    fill: rgb(57, 151, 206);
}

.like:hover, .like__clicked {
    fill: rgb(197, 30, 58);
}

.retweet:hover, .retweet__clicked {
    fill: rgb(38, 190, 84);
}

.tweet__action__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tweet__actions {
    display: flex;
    width: 70%;
    margin-left: 75px;
    user-select: none;
}

