.tweet__author {
    display: flex;
    gap: 10px;
    margin-left: 75px;
}

.tweet__author__profile__picture {
    width: 6.25%;
    border-radius: 100%;
    position: absolute;
    left: 20px;
    top: 5px;
}

.tweet__author__name, .tweet__author__handle {
    margin-top: 7.5px;
}

.tweet__author__handle {
    color: rgb(83, 100, 113);
}