#create__new__tweet {
    background-color: lightskyblue;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px;
    position: fixed;
    left: 5vw;
    font-size: 24px;
    top: 2.5vh;
}

#new__tweet {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form__new__tweet {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    width: 600px;
    gap: 5px;
}

#new__tweet__content__wrapper {
    position: relative;
}

#new__tweet__content {
    height: 32.5vh;
    resize: none;
}

#new__tweet__author:focus,
#new__tweet__handle:focus,
#new__tweet__content:focus {
    outline: none;
    border: 1px solid lightskyblue;
}

#btn__new__tweet__submit {
    background-color: lightskyblue;
    border: none;
    border-radius: 25px;
    height: 50px;
    cursor: pointer;
}

#word__count {
    position: absolute;
    bottom: 6px;
    right: 2.5px;
    color: gray;
    font-size: 18px;
}

#new__tweet__content__wrapper, 
#new__tweet__content, 
#new__tweet__author,
#new__tweet__handle,
#btn__new__tweet__submit {
    width: 100%;
    font-size: 24px;
}


@media  (width < 700px) {
    #form__new__tweet {
        width: 80%;
    }
}