.tweet {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-height: 10vh;
    max-height: 60vh;
    padding: 5px;
    margin: 25px auto;
    border: 1px solid grey;
    gap: 15px;
    position: relative;
}

.tweet:hover {
    background-color: rgba(128, 128, 128, 0.123);
    cursor: pointer;
}